html, body{
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html{
  background: #CCCCB2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #757519, #CCCCB2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #757519, #CCCCB2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.score-information-container{
  display: flex;
  height: 20vh;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  color: black;
}

.info-log-container{
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.options-container{
  display: flex;
  height: 50vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap:70px;
}
.footer-container{
  display: flex;
  height: 10vh;
}

.buttons{
  height: 270px;
  width: 270px;
  border-width: 0px;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}

.buttons:hover{
  transform: scale(1.15);
  border-color: green greenyellow;
  border-width: 5px;
  transition: 0.4s ease-in-out;
}

#player-score{
  padding-left: 360px;
}

#computer-score{
  padding-right: 360px;
}

#rock-button{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(148, 124, 124, 0.5), rgba(119, 119, 53, 0.5)),url(images/rock.png);
}

#paper-button{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(148, 124, 124, 0.5), rgba(119, 119, 53, 0.5)),url(images/leaf.png);
}

#scissors-button{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(148, 124, 124, 0.5), rgba(119, 119, 53, 0.5)),url(images/scissors.jpg);
}